// Source: https://fonts.google.com/specimen/Mulish

@font-face {
  font-family: Mulish;
  src: url('../../assets/fonts/Mulish/Mulish-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  src: url('../../assets/fonts/Mulish/Mulish-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
