<form
  formzForm
  formzRootValidate
  class="form"
  [formValue]="formValue()"
  [formShape]="formShape"
  [suite]="suite"
  [validationOptions]="validationOptions"
  (dirtyChange$)="isDirty.set($event)"
  (validChange$)="isValid.set($event)"
  (errorsChange$)="errors.set($event)"
  (formValueChange$)="setFormValue($event)"
  (ngSubmit)="onSubmit()">
  <fieldset class="fieldset">
    <!-- First Name -->
    <formz-field-decorator
      [enableBackdrop]="true"
      [decoratorLayout]="'single'">
      <formz-input-field
        formzField
        formzFieldErrors
        placeholder="Your first name"
        autocomplete="given-name"
        name="firstName"
        [minLength]="10"
        [maxLength]="15"
        [ngModel]="vm.formValue.firstName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false">
      </formz-input-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        First Name
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Last Name -->
    <formz-field-decorator [decoratorLayout]="'single'">
      <formz-textarea-field
        formzField
        formzFieldErrors
        placeholder="Your last name"
        autocomplete="family-name"
        name="lastName"
        [ngModel]="vm.formValue.lastName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false">
      </formz-textarea-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Last Name
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Gender -->
    <formz-field-decorator [decoratorLayout]="'single'">
      <formz-select-field
        formzField
        formzFieldErrors
        name="gender"
        [ngModel]="vm.formValue.gender"
        [disabled]="false"
        [required]="false"
        [options]="genderOptions">
        <formz-field-option
          [value]="'other'"
          [label]="'Other'" />
      </formz-select-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Gender
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Nationality -->
    <formz-field-decorator [enableBackdrop]="false">
      <formz-dropdown-field
        formzField
        formzFieldErrors
        placeholder="Select..."
        name="nationality"
        [ngModel]="vm.formValue.nationality"
        [disabled]="false"
        [required]="false"
        [options]="nationalityOptions">
        <formz-field-option [value]="'ch'">🇨🇭 Switzerland</formz-field-option>
        <formz-field-option [value]="'other'">Some other country</formz-field-option>
      </formz-dropdown-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Nationality
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Hobby -->
    <formz-field-decorator [enableBackdrop]="false">
      <formz-autocomplete-field
        formzField
        formzFieldErrors
        placeholder="Select..."
        name="hobby"
        [ngModel]="vm.formValue.hobby"
        [disabled]="false"
        [required]="false"
        [options]="hobbyOptions">
        <formz-field-option [value]="'garden'">Gardening</formz-field-option>
        <formz-field-option [value]="'other'">Some other hobby</formz-field-option>
      </formz-autocomplete-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Hobby
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Religion -->
    <!-- <formz-form-field>
      <formz-form-field-radio-group
        formzFormField
        formzFormFieldErrors
        name="religion"
        [fieldType]="'option'"
        [ngModel]="vm.formValue.religion">
        <formz-form-field-radio-group-option value="christian">Christian</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="islam">Islam</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="hindu">Hindu</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="buddhism">Buddhism</formz-form-field-radio-group-option>
      </formz-form-field-radio-group>
      <div
        formzFormFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFormFieldTooltip>(Tooltip)</div>
      <div formzFormFieldPrefix>Prefix</div>
      <div formzFormFieldSuffix>Suffix</div>
    </formz-form-field> -->

    <!-- Passwords Group -->
    <!-- TODO add form group -->

    <div class="footer">
      <!-- Submit -->
      <!-- <formz-form-submit
        [submitLabel]="'Submit'"
        [cancelLabel]="'Cancel'"
        [isSubmitDisabled]="!vm.isValid">
      </formz-form-submit> -->
    </div>
  </fieldset>

  <!-- Show Debugging Data -->
  <div style="margin-top: 20px">
    <pre>{{ vm.formValue | json }}</pre>
    <pre>{{ vm.isDirty }}</pre>
    <pre>{{ vm.isValid }}</pre>
    <pre>{{ vm.errors | json }}</pre>
  </div>
</form>
