<form
  formzForm
  formzRootValidate
  class="form"
  [formValue]="formValue()"
  [formShape]="formShape"
  [suite]="suite"
  [validationOptions]="validationOptions"
  (dirtyChange$)="isDirty.set($event)"
  (validChange$)="isValid.set($event)"
  (errorsChange$)="errors.set($event)"
  (formValueChange$)="setFormValue($event)"
  (ngSubmit)="onSubmit()">
  <fieldset class="fieldset">
    <!-- First Name -->
    <formz-field-decorator [decoratorLayout]="'single'">
      <formz-input-field
        formzField
        formzFieldErrors
        placeholder="Your first name"
        autocomplete="given-name"
        name="firstName"
        [minLength]="10"
        [maxLength]="15"
        [ngModel]="vm.formValue.firstName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false">
      </formz-input-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Last Name -->
    <formz-field-decorator [decoratorLayout]="'single'">
      <formz-textarea-field
        formzField
        formzFieldErrors
        placeholder="Your last name"
        autocomplete="family-name"
        name="lastName"
        [ngModel]="vm.formValue.lastName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false">
      </formz-textarea-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFieldTooltip>(Tooltip)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Gender -->
    <!-- <formz-form-field>
      <select
        formzFormField
        formzFormFieldErrors
        autocomplete="sex"
        name="gender"
        [ngModel]="vm.formValue.gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div
        formzFormFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFormFieldTooltip>(Tooltip)</div>
      <div formzFormFieldPrefix>Prefix</div>
      <div formzFormFieldSuffix>Suffix</div>
    </formz-form-field> -->

    <!-- Nationality -->
    <!-- <formz-form-field>
      <formz-form-field-dropdown
        formzFormField
        formzFormFieldErrors
        placeholder="Select..."
        name="nationality"
        [ngModel]="vm.formValue.nationality">
        <formz-form-field-dropdown-option value="de">🇩🇪 Germany</formz-form-field-dropdown-option>
        <formz-form-field-dropdown-option value="fr">🇫🇷 France</formz-form-field-dropdown-option>
        <formz-form-field-dropdown-option value="jp">🇯🇵 Japan</formz-form-field-dropdown-option>
      </formz-form-field-dropdown>
      <div
        formzFormFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFormFieldTooltip>(Tooltip)</div>
    </formz-form-field> -->

    <!-- Religion -->
    <!-- <formz-form-field>
      <formz-form-field-radio-group
        formzFormField
        formzFormFieldErrors
        name="religion"
        [fieldType]="'option'"
        [ngModel]="vm.formValue.religion">
        <formz-form-field-radio-group-option value="christian">Christian</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="islam">Islam</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="hindu">Hindu</formz-form-field-radio-group-option>
        <formz-form-field-radio-group-option value="buddhism">Buddhism</formz-form-field-radio-group-option>
      </formz-form-field-radio-group>
      <div
        formzFormFieldLabel
        [isFloating]="true">
        Label
      </div>
      <div formzFormFieldTooltip>(Tooltip)</div>
      <div formzFormFieldPrefix>Prefix</div>
      <div formzFormFieldSuffix>Suffix</div>
    </formz-form-field> -->

    <!-- Passwords Group -->
    <!-- TODO add form group -->

    <div class="footer">
      <!-- Submit -->
      <!-- <formz-form-submit
        [submitLabel]="'Submit'"
        [cancelLabel]="'Cancel'"
        [isSubmitDisabled]="!vm.isValid">
      </formz-form-submit> -->
    </div>
  </fieldset>

  <!-- Show Debugging Data -->
  <div style="margin-top: 20px">
    <pre>{{ vm.formValue | json }}</pre>
    <pre>{{ vm.isDirty }}</pre>
    <pre>{{ vm.isValid }}</pre>
    <pre>{{ vm.errors | json }}</pre>
  </div>
</form>
