:host {
  display: block;
}

// from form.component.scss
.form {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  padding: 0.5rem 1rem;
  background-color: #00345a;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #5b7f99;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

formidable-field-decorator {
  margin-bottom: 16px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: fit-content;
}

pre {
  // Corrects font family set oddly in Safari 5 and Chrome.
  font-family: monospace, serif;
  font-size: 1em;
  // Improves readability of pre-formatted text in all browsers.
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
