<form
  formzForm
  formzRootValidate
  class="form"
  [formValue]="formValue()"
  [formShape]="formShape"
  [suite]="suite"
  [validationOptions]="validationOptions"
  (dirtyChange$)="isDirty.set($event)"
  (validChange$)="isValid.set($event)"
  (errorsChange$)="errors.set($event)"
  (formValueChange$)="setFormValue($event)"
  (ngSubmit)="onSubmit()">
  <fieldset class="fieldset">
    <!-- First Name -->
    <!-- <formz-field-decorator>
      <formz-input-field
        formzFieldErrors
        placeholder="Your first name"
        autocomplete="given-name"
        name="firstName"
        [minLength]="10"
        [maxLength]="15"
        [ngModel]="vm.formValue.firstName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false"
        (valueChanged)="onValueChanged('firstName', $event)"
        (focusChanged)="onFocusChanged('firstName', $event)">
      </formz-input-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        First Name
      </div>
      <div formzFieldTooltip>(Input)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Last Name -->
    <!-- <formz-field-decorator>
      <formz-textarea-field
        formzFieldErrors
        placeholder="Your last name"
        autocomplete="family-name"
        name="lastName"
        [ngModel]="vm.formValue.lastName"
        [disabled]="false"
        [readOnly]="false"
        [required]="false"
        (valueChanged)="onValueChanged('lastName', $event)"
        (focusChanged)="onFocusChanged('lastName', $event)">
      </formz-textarea-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Last Name
      </div>
      <div formzFieldTooltip>(Textarea)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Gender -->
    <!-- <formz-field-decorator>
      <formz-select-field
        formzFieldErrors
        name="gender"
        [ngModel]="vm.formValue.gender"
        [disabled]="false"
        [required]="false"
        [options]="genderOptions"
        (valueChanged)="onValueChanged('gender', $event)"
        (focusChanged)="onFocusChanged('gender', $event)">
        <formz-field-option
          [value]="'other'"
          [label]="'Other'"
          [disabled]="true" />
        <formz-field-option [value]="'trans'">Trans</formz-field-option>
      </formz-select-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Gender
      </div>
      <div formzFieldTooltip>(Select)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Nationality -->
    <!-- <formz-field-decorator>
      <formz-dropdown-field
        formzFieldErrors
        placeholder="Select..."
        name="nationality"
        [ngModel]="vm.formValue.nationality"
        [disabled]="false"
        [required]="false"
        [options]="nationalityOptions"
        [emptyOption]="nationalityEmptyOption"
        [panelPosition]="'left'"
        (valueChanged)="onValueChanged('nationality', $event)"
        (focusChanged)="onFocusChanged('nationality', $event)">
        <formz-field-option
          [value]="'ch'"
          [label]="'CH'"
          >🇨🇭 Switzerland (other label)</formz-field-option
        >
        <formz-field-option [value]="'it (no label)'">🇮🇹 Italia (no label)</formz-field-option>
        <formz-field-option
          [value]="'custom'"
          [label]="'The Special One'">
          <p>I'm a special item</p>
          <pre>And I can have any content</pre>
        </formz-field-option>
      </formz-dropdown-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Nationality
      </div>
      <div formzFieldTooltip>(Dropdown)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Hobby -->
    <!-- <formz-field-decorator>
      <formz-autocomplete-field
        formzFieldErrors
        placeholder="Select..."
        name="hobby"
        [ngModel]="vm.formValue.hobby"
        [disabled]="false"
        [required]="false"
        [options]="hobbyOptions"
        [emptyOption]="hobbyEmptyOption"
        (valueChanged)="onValueChanged('hobby', $event)"
        (focusChanged)="onFocusChanged('hobby', $event)">
        <formz-field-option
          [value]="'garden'"
          [label]="'Gardening'"
          [disabled]="true">
          Gardening
        </formz-field-option>
        <formz-field-option
          [value]="'singing'"
          [label]="'SING'"
          >Singing (other label)</formz-field-option
        >
        <formz-field-option [value]="'other'">Other (no label)</formz-field-option>
        <formz-field-option
          [value]="'custom'"
          [label]="'The Special One'"
          [match]="specialMatchFn">
          <p>I'm a special item</p>
          <pre>And I can have any content</pre>
        </formz-field-option>
      </formz-autocomplete-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Hobby
      </div>
      <div formzFieldTooltip>(Autocomplete)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Animals -->
    <!-- <formz-field-decorator>
      <formz-autocomplete-field
        formzFieldErrors
        placeholder="Select..."
        name="animal"
        [ngModel]="vm.formValue.animal"
        [disabled]="false"
        [required]="false"
        [options]="animalOptionsDefault"
        [emptyOption]="animalEmptyOption"
        (valueChanged)="onValueChanged('animal', $event)"
        (focusChanged)="onFocusChanged('animal', $event)"
        (filterChanged)="onAnimalFilterChange($event)">
        @for (option of animalOptionsFiltered$ | async; track option.value) {
          <fuzzy-field-option
            [value]="option.value"
            [label]="option.label"
            [disabled]="option.disabled || false"
            [subtitle]="option.subtitle"
            [highlightedEntries]="option.highlightedEntries || { labelEntries: [], subtitleEntries: [] }">
          </fuzzy-field-option>
        }
      </formz-autocomplete-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Animal
      </div>
      <div formzFieldTooltip>(Autocomplete [custom fuzzy options])</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Birthdate -->
    <formz-field-decorator>
      <formz-date-field
        formzFieldErrors
        placeholder="?"
        name="birthdate"
        [ngModel]="vm.formValue.birthdate"
        [disabled]="false"
        [required]="false"
        [unicodeTokenFormat]="'dd . M . yyyy'"
        (valueChanged)="onValueChanged('birthdate', $event)"
        (focusChanged)="onFocusChanged('birthdate', $event)">
      </formz-date-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Birthdate
      </div>
      <div formzFieldTooltip>(Date)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator>

    <!-- Religion -->
    <!-- <formz-field-decorator>
      <formz-radio-group-field
        formzFieldErrors
        name="religion"
        [ngModel]="vm.formValue.religion"
        [disabled]="false"
        [required]="false"
        [options]="religionOptions"
        [emptyOption]="religionEmptyOption"
        (valueChanged)="onValueChanged('religion', $event)"
        (focusChanged)="onFocusChanged('religion', $event)">
        <formz-field-option
          [value]="'atheist'"
          [label]="'Atheist'"
          [disabled]="true">
          Atheist
        </formz-field-option>
        <formz-field-option
          [value]="'agnostic'"
          [label]="'AGNOSTIC'"
          >Agnostic (other label)</formz-field-option
        >
        <formz-field-option [value]="'other'">Other (no label)</formz-field-option>
        <formz-field-option
          [value]="'custom'"
          [label]="'The Special One'"
          [match]="specialMatchFn">
          <p>I'm a special item</p>
          <pre>And I can have any content</pre>
        </formz-field-option>
      </formz-radio-group-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Religion
      </div>
      <div formzFieldTooltip>(Radio Group)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Allergies -->
    <!-- <formz-field-decorator>
      <formz-checkbox-group-field
        formzFieldErrors
        name="allergies"
        [ngModel]="vm.formValue.allergies"
        [disabled]="false"
        [required]="false"
        [options]="allergiesOptions"
        [emptyOption]="allergiesEmptyOption"
        (valueChanged)="onValueChanged('allergies', $event)"
        (focusChanged)="onFocusChanged('allergies', $event)">
        <formz-field-option
          [value]="'lactose'"
          [label]="'Lactose'"
          [disabled]="true">
          Lactose
        </formz-field-option>
        <formz-field-option
          [value]="'gluten'"
          [label]="'GLUTEN'"
          >Gluten (other label)</formz-field-option
        >
        <formz-field-option [value]="'soy'">Soy (no label)</formz-field-option>
        <formz-field-option
          [value]="'custom'"
          [label]="'The Special One'"
          [match]="specialMatchFn">
          <p>I'm a special item</p>
          <pre>And I can have any content</pre>
        </formz-field-option>
      </formz-checkbox-group-field>
      <div
        formzFieldLabel
        [isFloating]="true">
        Allergies
      </div>
      <div formzFieldTooltip>(Checkbox Group)</div>
      <div formzFieldPrefix>Prefix</div>
      <div formzFieldSuffix>Suffix</div>
    </formz-field-decorator> -->

    <!-- Passwords Group -->
    <!-- TODO add form group -->

    <div class="footer">
      <!-- Submit -->
      <!-- <formz-form-submit
        [submitLabel]="'Submit'"
        [cancelLabel]="'Cancel'"
        [isSubmitDisabled]="!vm.isValid">
      </formz-form-submit> -->
    </div>
  </fieldset>

  <!-- Show Debugging Data -->
  <div style="margin-top: 20px">
    <pre>Value:<br/>{{ vm.formValue | json }}</pre>
    <pre>Dirty: {{ vm.isDirty }}</pre>
    <pre>Valid: {{ vm.isValid }}</pre>
    <pre>Errors:<br/>{{ vm.errors | json }}</pre>
  </div>
</form>
