:host {
  display: block;
}

.option-label {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}

.option-subtitle {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.6;
}

.option-highlight {
  color: orange;
}
