@use 'styles/styles.scss';

// use the formidable styles
// angular.json stylePreprocessorOptions: "projects/formidable/src/lib/styles"
// resolves to: 'projects/formidable/src/lib/styles/_formidable.scss'
@use 'ngx-formidable';

// Formidable Lib Overrides
:root {
  //   --formidable-field-height: 50px;
  --formidable-color-field-hovered: red;
  --formidable-color-field-selected: pink;
  --formidable-color-field-highlighted: lime;
}

// Pikaday Overrides
// .pika-lendar {
//   background-color: yellow;
// }
